*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.parallax{
    background-image: url("Fg-iZSvWYAQkr5f.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page{
    background: linear-gradient(90deg, rgba(63,215,203,1) 64%, rgba(100,46,120,1) 100%);
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:center;
}

.landing-page ul{
    list-style-type:none;
    font-weight: bold;
}

.landing-page ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}